
NN/.vs/NN/v15/.suo
NN/.vs/NN/v15/.suo
NN/.vs/NN/v15/Server/sqlite3/storage.ide
NN/Baza/bin/Debug/Baza.dll
NN/.vs/NN/v15/.suo
NN/Baza/bin/Debug/Baza.dll
NN/Baza/bin/Debug/Baza.dll.config
NN/Baza/bin/Debug/Baza.pdb
NN/Baza/DataClasses1.dbml
NN/Baza/DataClasses1.dbml.layout
NN/Baza/DataClasses1.designer.cs
NN/Baza/obj/Debug/Baza.dll
NN/Baza/obj/Debug/Baza.pdb
NN/Baza/obj/Debug/Database.csproj.CoreCompileInputs.cache
NN/Baza/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NN/Baza/obj/Debug/TempPE/DataClasses1.designer.cs.dll
NN/NN/bin/Debug/Baza.dll
NN/NN/bin/Debug/Baza.dll.config
NN/NN/bin/Debug/Baza.pdb
NN/NN/bin/Debug/NN.exe
NN/NN/bin/Debug/NN.pdb
NN/NN/obj/Debug/NN.csproj.CoreCompileInputs.cache
NN/NN/obj/Debug/NN.csprojResolveAssemblyReference.cache
NN/NN/obj/Debug/NN.exe
NN/NN/obj/Debug/NN.pdb
NN/WindowsFormsApp1/bin/Debug/Baza.dll
NN/WindowsFormsApp1/bin/Debug/Baza.dll.config
NN/WindowsFormsApp1/bin/Debug/Baza.pdb
NN/WindowsFormsApp1/bin/Debug/NN.exe
NN/WindowsFormsApp1/bin/Debug/NN.pdb
NN/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe
NN/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.pdb
NN/WindowsFormsApp1/obj/Debug/Interface.csproj.CoreCompileInputs.cache
NN/WindowsFormsApp1/obj/Debug/Interface.csprojResolveAssemblyReference.cache
NN/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.exe
NN/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.pdb
