
NN/.vs/NN/v15/.suo
*.ide-wal
NN/.vs/NN/v15/Server/sqlite3/storage.ide-wal
NN/.vs/NN/v15/Server/sqlite3/storage.ide-wal
NN/Baza/bin/Debug/Baza.dll
NN/Baza/bin/Debug/Baza.pdb
NN/Baza/bin/Debug/Baza.dll
NN/Baza/bin/Debug/Baza.pdb
*.dll
*.pdb
*.exe
*.cache
