<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="PED" connectionString="Data Source=DESKTOP-JUC2MU8;Initial Catalog=PED;Integrated Security=True" />
    </connectionStrings>
    <appSettings>

      <add key="LoadingScript" value="'C:/Users/alexstojcic/Documents/GitHub/PurchaseAnalysis/Radna/R/Functions.r'"/>
      <add key="ExecuteScript" value="C:/Users/alexstojcic/Documents/GitHub/PurchaseAnalysis/Radna/R/Script.r"/>

      <add key="PurchasePeriods" value="dbo.PurchasePeriods"/>
      <add key="PurchasePeriods_CustomerID" value="CustNo"/>
      <add key="PurchasePeriods_ItemID" value="ItemNo"/>
      <add key="PurchasePeriods_Period" value="PurchasePeriod"/>
      <add key="PurchasePeriods_PeriodEnd" value="InvDateCurr"/>
    
      <add key="PurchaseHistory" value="dbo.PurchaseHistory"/>
      <add key="PurchaseHistory_CustomerID" value="CustNo"/>
      <add key="PurchaseHistory_ItemID" value="ItemNo"/>
      <add key="PurchaseHistory_PurchaseDate" value="InvDate"/>
      <add key="PurchaseHistory_PurchaseQuantity" value="InvQty"/>
    
      <add key="PurchasePrediction" value="dbo.PurchasePrediction"/>
      <add key="PurchasePrediction_CustomerID" value="CustNo"/>
      <add key="PurchasePrediction_ItemID" value="ItemNo"/>
      <add key="PurchasePrediction_ProcessingValue" value="PredictedValue"/>
      <add key="PurchasePrediction_ModelID" value="Model"/>

      <add key="CustomerModel" value="dbo.CustomerModel"/>
      <add key="CustomerModel_CustomerID" value="CustNo"/>
      <add key="CustomerModel_Model" value="Model"/>
      <add key="CustomerModel_Parameters_ID" value="Parameters_ID"/>

      <add key="Parameters" value="dbo.Parameters"/>
      <add key="Parameters_ProcessingDate" value="ProcessingDate"/>
      <add key="Parameters_CustRecency" value="CustRecency"/>
      <add key="Parameters_PercentageCutOff" value="PercentageCutOff"/>
      <add key="Parameters_CountCutOff" value="CountCutOff"/>

    </appSettings>
</configuration>