<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Baza.Properties.Settings.PEDConnectionString" connectionString="Data Source=localhost;Initial Catalog=PED;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Baza.Properties.Settings.PEDConnectionString1" connectionString="Data Source=localhost;Initial Catalog=PED;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Baza.Properties.Settings.PEDConnectionString2" connectionString="Data Source=localhost;Initial Catalog=PED;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Baza.Properties.Settings.PEDConnectionString3" connectionString="Data Source=localhost;Initial Catalog=PED;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PED" connectionString="Data Source=localhost;Initial Catalog=PED;Integrated Security=True" />
    </connectionStrings>
</configuration>