<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="PED" connectionString="Data Source=localhost;Initial Catalog=PED;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="PurchasePeriods" value="dbo.PurchasePeriods"/>
    <add key="PurchasePeriods_CustomerID" value="CustNo"/>
    <add key="PurchasePeriods_ItemID" value="ItemNo"/>
    <add key="PurchasePeriods_Period" value="PurchasePeriod"/>
    <add key="PurchasePeriods_PeriodEnd" value="InvDateCurr"/>

    <add key="PurchaseHistory" value="dbo.PurchaseHistory"/>
    <add key="PurchaseHistory_CustomerID" value="CustNo"/>
    <add key="PurchaseHistory_ItemID" value="ItemNo"/>
    <add key="PurchaseHistory_PurchaseDate" value="InvDate"/>
    <add key="PurchaseHistory_PurchaseQuantity" value="InvQty"/>

    <add key="PurchasePrediction" value="dbo.PurchasePrediction"/>
    <add key="PurchasePrediction_CustomerID" value="CustNo"/>
    <add key="PurchasePrediction_ItemID" value="ItemNo"/>
    <add key="PurchasePrediction_ProcessingValue" value="PredictedValue"/>
    <add key="PurchasePrediction_ModelID" value="ModelID"/>

    <add key="CustomerModel" value="dbo.CustomerModel"/>
    <add key="CustomerModel_CustomerID" value="CustNo"/>
    <add key="CustomerModel_Model" value="Model"/>
    <add key="CustomerModel_Parameters_ID" value="Parameters_ID"/>
    <add key="CustomerModel_ID" value="ID"/>

    <add key="Parameters" value="dbo.Parameters"/>
    <add key="Parameters_ProcessingStart" value="ProcessingStart"/>
    <add key="Parameters_ProcessingEnd" value="ProcessingEnd"/>
    <add key="Parameters_ProcessingStatus" value="ProcessingStatus"/>
    <add key="Parameters_ProcessingError" value="ProcessingError"/>
    <add key="Parameters_ProcessingParameters" value="ProcessingParameters"/>
    <add key="Parameters_ProcessingCalculator" value="ProcessingCalculator"/>
    <add key="Parameters_ProcessingPreparer" value="ProcessingPreparer"/>
    <add key="Parameters_ID" value="ID"/>

    <add key="PLS_RecomendHist" value="dbo.PLS_RecomendHist"/>
    <add key="PLS_RecomendHist_CustNo" value="CustNo"/>
    <add key="PLS_RecomendHist_ItemNo" value="ItemNo"/>
    <add key="PLS_RecomendHist_ProcessingDateInt" value="ProcessingDateInt"/>

    <add key="Model" value="dbo.Model"/>
    <add key="Model_Model" value="Model"/>
    <add key="Model_Parameters_ID" value="Parameters_ID"/>
    <add key="Model_ID" value="ID"/>

  </appSettings>
</configuration>